html{
	scroll-behavior: smooth;
    background-color: #5C97FF;
}

body{
    height: 100%;
}

*{
	margin-left:0;
	margin-right:0;
	padding:0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    margin-top: -10px;
    /*border-bottom: 1px solid #000000;*/
    z-index:1;
    /*background-color: rebeccapurple;*/
    height: 55px;
}
.navigation.active{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    transition: all 0.5s ease;
}

#logo { 
    position: absolute;
    left: 50%;
    width: 250px;
    transform: translateX(-50%);
    top: 75px; 
}

/* Andy ------------------------------------------------*/

#param{
    height: 80%;
    margin-top: 5px;
	width: auto;
	float:right;
}
#param:hover{
    height: 85%;
}
#param:active{
    height: 90%;
}

#DM{
    display: none;
    /* visibility: visible; */
    z-index: 1;
    background-color: rgb(56, 102, 255);
    color: #fff;
    float: right;
    padding: 5px 5px;
    border-radius: 6px;
    height: -1px;
}

input[id="infobulle"]:checked + label>#DM{
    height: 100px;
    opacity: 100%;
    display: inline-block;
    margin-top: 5px;
    margin-right: 10px;
}
input[type="checkbox"]{
    position: absolute;
    display: none;
}
/* fin Andy ------------------------------------------- 



/*style pour la barre de recherche*/

.search-box { /*nouvelle position de la barre de recherche*/
    margin-top: 220px;
    align-items: center;
    width: 35%;
    margin-left: 32.5%;
    margin-right: 32.5%;
    padding: 8px;
    background-color: #f8f8f8;
    border-radius: 50px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}

.search-box input[type="text"]{
    flex: 1;
    border: none;
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    outline: none;
}

.search-box button[type="submit"]{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-box button i{
    font-size: 25px;
    color: #2d2c2c;
    margin-right: 2vw;
}
/*
table{
    width: 50%;
    margin: 100px auto;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    text-align: center;
    opacity: 0;
    animation: apparition 5s;
    padding: 20px;
}*/

.reveal{
    position: relative;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(250px);
    pointer-events: none;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}
/*
.img-test{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 50%;
    align-items: center;
}

.img-test img{
    margin-bottom: 10px;
}
*/
/*
.search-box input:focus {
    border-color: #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
}*/

  
.rectangle{
    width: 75%;
    height: 250px;
    margin-right: 12.5%;
    margin-left: 12.5%;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    /*
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border: 2px solid #ccc;
    */
    border-color: #4d90fe;
    box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
}
  
.rectangle img{
    width: 45%;
    height: 100%;
    margin-right: 20px;
    border-radius: 10px;
    float: left;
    margin-top: auto;
    
}

.rectangle .article-content{
    width: 65%;
    height: 100%;
    margin-left: 50%;
    margin-top: auto;
}



.article-content a{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.bloc-historique{
    align-items: center;
    width: 35%;
    height: 50px;
    margin-left: 32.5%;
    margin-right: 32.5%;

    justify-content: space-between;
    margin-bottom: 12vh;
    display:grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;

}

.bloc-historique .icone{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 32.5px;

}
@media screen and (max-width:1500px){
    .bloc-historique .icone{
        margin-left: 0;
    }
}

.random-article {
  display: flex;
  flex-wrap: wrap;
}

.article {
  width: 28%;
  margin: auto;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
  max-height: 300px;
}


.article img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 200px;
}


#corps{
    padding-top: 100px;
    background-color: white;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    padding-bottom: 25px;
    margin-bottom: -20px;
}


.article:hover{
    transform: scale(1.05);
    transition: 0.5s;
}


.search-box.active {
    position: fixed;
    top: 20px;
    left: 100px;
    width: 35%px; 
    margin: 0;
    border-radius: 5px;
    transition: all 0.5s ease;
    z-index: 3;
}


#logo.active {
    height: 40px; 
    width: auto;
    position: fixed;
    top: 20px;
    left: 50px;
    margin: 0;
    z-index: 10;
    transition: all 0.5s ease;
}


.rectangle:first-child.active {
    margin-top: 100px; 
}


.bloc-historique.suppr{
    display: none;
}

.random-article.suppr{
    display: none;
}